.events{
    
    &__title{
        @extend .section__heading;
        text-align: center;

    }

    &__container{
        margin-top: 50px;
        text-align: center;
        display: grid;
        gap: 4.5rem;
        grid-template-columns: repeat(2, 1fr);

        @include md{
            grid-template-columns: 1fr;
        }
    }

    &__blog{

        img{
            @extend .blog__img;
            height: 350px;
            object-fit: cover;
        }
        &__body{
            padding: 0 10px;
            h3{
                @extend .blog__title;
            }
    
            p{
                @extend .blog__description;
            }
        }
    }
}