.header{
    background-color: rgba(0, 0, 0, 0.438);
    padding: 1rem 0;

    .nav{
       
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;

        &__list{
            display: flex;
            column-gap: 2rem;
        }

        &__link{
            font-size: 1rem;
            color: $white;
        }
    }
}